page-register {
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/imgs/background.png");
        background-size: cover;
        background-position: center;
    }
}
