page-news-details {
    .post {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}
